{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static './css/base.css' %}">
    <link rel="stylesheet" href="{% static './css/header.css'%}">
    <link rel="stylesheet" href="{% static './css/responsive.css'%}">
    <link rel="stylesheet" href="{% static './css/section.css' %}">
    <title>{% block title%} {% endblock title %}</title>
</head>
<body>

    <header class="center-row">
        <div class="header-left-side center center-row">
            <a href=""><h2>Samson</h2></a>
        </div>

        <nav class="header-right-side center-row">

            <!--Hamburger Button-->
            <input type="checkbox" name="" id="nav-check">

            <div class="nav-btn">
                <label for="nav-check">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>


            <div class="nav-options" id="navOptions">
                <a href="">About Me</a>
                <a href="">Projects</a>
                <a href="">Experience</a>
                <a href="">Contact me</a>
                
            </div>
        </nav>
    </header>

    {% block content %}

    {% endblock content %}
    
</body>
</html>